<a href="https://colab.research.google.com/github/programmershruti/Disease-Detection-System/blob/main/liver.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
import pandas as pd

df=pd.read_csv("liver.csv")
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [ ]:
df.isnull().sum()
df=df.dropna()
df_majority=df[df["Dataset"]==1]
df_minority=df[df["Dataset"]==2]

In [ ]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority, replace=True, n_samples=414, random_state=123 )

In [ ]:
df_upsampled=pd.concat([df_majority, df_minority_upsampled])
X=df_upsampled.iloc[:,:-1]
y=df_upsampled.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
sex_mapping={"Male":0,"Female":1}
for dataset in X_train, X_test:
    dataset['Gender']=dataset['Gender'].map(sex_mapping)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [ ]:
clf=RandomForestClassifier(n_estimators=8)
clf.fit(X_train,y_train)
print("Accuracy : ", accuracy_score(clf.predict(X_test),y_test))

Accuracy :  0.8554216867469879

In [ ]:
import pickle

In [ ]:
filename = 'data.sav'
pickle.dump(clf, open(filename, 'wb'))